$primary: #004876;
$secondary: #6c757d;
$success: #00cc92;
$info: #004876;
$warning: #8C5C03;
$danger: #9E2821;
$light: #f8f9fa;
$black: black;

$top-bg : #00cc92;
$left-bg : #c8daea;
$center-bg: #CFDBD5;
$right-bg : #c8daea;
$bottom-bg : #CFDBD5;

code {
    
    font-family: Arial, Helvetica, sans-serif;
  }

.top-bg{
  background-color: $top-bg ;
  box-shadow: 10px 10px;

}

.left-bg{
  background-color: $left-bg ;
}

.middle-bg{
  background-color: $center-bg ;
  box-shadow: 10px 10px;
  
}

.right-bg{
  background-color: $right-bg ;

}

.bottom-bg{
  background-color: $bottom-bg ;
}

h1{
  text-shadow: 2px 2px $secondary;
}

h3{
  text-decoration: solid black;
}
@import "~bootstrap/scss/bootstrap";